.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.so
.coverage
.pytest_cache/
htmlcov/
.tox/
.idea/
.vscode/
*.log
*.swp
*.swo
*.egg-info/
dist/
build/
*.egg
*.whl
*.zip
*.tar.gz