# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/
.venv/

# Environment variables
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Data files
*.dat

# Logs
*.log

# Experiments journals and logs
experiments/journals
experiments/logs